<h1 class="titulo">
  Notebook Tedge Win NBi5-256/6/01
</h1>

<img src="../../assets/compu-tedge.PNG" class="rounded mx-auto d-block" alt="">

<u>
  <h4>
    Descripcion:
  </h4>
</u>
<br>
<p>
  La notebook Tedge Win NBi5-256/6/01 es una solución tanto para trabajar y estudiar como para entretenerte.
  Al ser portátil, el escritorio dejará de ser tu único espacio de uso para abrirte las puertas a otros ambientes
  ya sea en tu casa o en la oficina.
  <br>
  <br>
  <strong>Pantalla con gran impacto visual</strong>
  <br>
  Su pantalla LCD de 15.6" y 1920x1080 px de resolución te brindará colores más vivos y definidos.
  Tus películas y series preferidas cobrarán vida, ya que ganarán calidad y definición en cada detalle.
  <br>
  <br>
  <strong>Eficiencia a tu alcance</strong>
  <br>
  Su procesador Intel Core i5 de 2 núcleos, está pensado para aquellas personas generadoras y consumidoras de contenidos.
  Con esta unidad central, la máquina llevará a cabo varios procesos de forma simultánea,
  desde edición de videos hasta retoques fotográficos con programas profesionales.
  <br>
  <br>
  <strong>Potente disco sólido</strong>
  <br>
  El disco sólido de 256 GB hace que el equipo funcione a gran velocidad
  y por lo tanto te brinda mayor agilidad para operar con diversos programas.
</p>
